<configuration>

  <configSections>
   <section name="appStart" 
		type="MusterUpdater.ConfigSectionHandler,MusterUpdater" />
	<section name="enterpriselibrary.configurationSettings" 
		type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	<section name="appUpdater"
		type = "Microsoft.Applicationblocks.ApplicationUpdater.UpdaterSectionHandler, Microsoft.ApplicationBlocks.ApplicationUpdater"/>
  </configSections>
  <appStart>
	<ClientApplicationInfo>
		<appFolderName>C:\Program Files\CIBER\MUSTER\1.0.0.0</appFolderName>
		<appExeName>Muster.exe</appExeName>
		<appID>{5C88AEC2-2324-45A7-BD60-8230BBE54B65}</appID>
		<updateTime>BeforeStart</updateTime>
		<manifestUri>http://OPCGW/musterupgrade/manifests.xml</manifestUri>
	</ClientApplicationInfo>
  </appStart>

  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Muster" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  <configurationSections>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityCryptographyConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityCryptographyConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="UpdaterConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="UpdaterConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
        <includeTypes>
          <includeType name="BitsDownloaderProviderData" type="Microsoft.ApplicationBlocks.Updater.Configuration.BitsDownloaderProviderData, Microsoft.ApplicationBlocks.Updater.Downloaders, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
  </configurationSections>
  <includeTypes />
</enterpriselibrary.configurationSettings>
</configuration>