<?xml version="1.0" encoding="utf-8"?>
<UpdaterConfiguration>
  <xmlSerializerSection type="Microsoft.ApplicationBlocks.Updater.Configuration.ApplicationUpdaterSettings, Microsoft.ApplicationBlocks.Updater, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null">

<applicationUpdater xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationId="{5C88AEC2-2324-45A7-BD60-8230BBE54B65}" manifestUri="		" 
xmlns="urn:schemas-microsoft-com:PAG:updater-application-block:v2">
      <downloaders>
        <downloader xsi:type="BitsDownloaderProviderData" name="BITSDownloader">
          <userName>administrator</userName>
          <password>m$deq</password>
          <authenticationScheme>BG_AUTH_SCHEME_NTLM</authenticationScheme>
          <targetServerType>BG_AUTH_TARGET_SERVER</targetServerType>
        </downloader>
      </downloaders>
    </applicationUpdater>
  </xmlSerializerSection>
</UpdaterConfiguration>
