<?xml version="1.0" encoding="utf-8"?>
<configuration>

	
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="SQLConnectionString" value="Data Source=GARD-PROD;User ID=MusterApp;password=8f1-4c9A;Initial Catalog=MUSTER_PRD" />
	</appSettings>

	
</configuration>
